body {
  margin: 30px 50px;
  background-color: rgb(255, 255, 255);
}

.io-container {
  background-color: rgb(236, 234, 234);
  width: 300px;
  height: ;
  padding: 20px 10px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.age-title {
  background-color: green;
  padding: 0 10px;
  border: none;
  border-radius: 10px;
}

.input-container,
.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
} 

input {
  padding: 20px 10px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px 18px;
  background-color: rgb(0, 255, 157);

  transition: opacity 1s;
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.input, 
.output {
  border: none;
  border-radius: 10px;
  background-color: yellow;
}

.output {
  background-color: aqua;
  
}

button:hover .output-container {
  
}

.input::placeholder {
  
}

.feadback::placeholder {
  color: red;
}

.bound-feadback::placeholder {
  color: red;
  font-size: 6px;
  white-space: wrap;
}

/* Media query for smartphones */
@media only screen and (max-width: 480px) {
  .io-container {
      padding: 0 10px;
      width: 100%;
  }

  /* You can also adjust font sizes, margins, etc. for smaller screens */
  h1 {
      font-size: 24px;
  }
  
  body {
    margin: 0;
    font-size: 24px;
  }
  p {
      font-size: 16px;
  }
}